
.login_container {
    background-image: url("./imgs/bg.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login_content {
    background-color: white;
    border: solid 1px lightcyan;
    padding: 60px 20px 20px 20px;
}

.layout_container, .ant-layout{
    height: 100%;
    width: 100%;
}

.nav_header{
   display: flex;
    justify-content: space-between;
    align-items: center;
}