@inherits LayoutComponentBase


<AuthorizeView>
    <Authorized>
        <Layout Style="height: 100%">
            <Sider Width="256">
                <NavMenu/>
            </Sider>
            <Layout>
                <Header style="padding: 0px; background-color: whitesmoke; border-bottom: solid 1px darkgray">
                    <div class="nav_header">
                        <Button Type="@ButtonType.Text">
                            <Icon Type="menu-fold" Theme="outline"/>
                        </Button>
                        <Dropdown Style="margin-right: 20px" Trigger="new[] { Trigger.Click }" Placement="Placement.Bottom" Arrow>
                            <Overlay>
                                <Menu>
                                    <MenuItem>退出登录</MenuItem>
                                    <MenuItem>切换主题</MenuItem>
                                </Menu>
                            </Overlay>
                            <ChildContent>
                                <Button Type="@ButtonType.Text">系统管理员-张三</Button>
                            </ChildContent>
                        </Dropdown>
                    </div>
                </Header>
                <Content Style="margin: 40px 20px 20px 20px;height: 100%;">
                    @Body
                </Content>
                @* <Footer>Footer</Footer> *@
            </Layout>
        </Layout>
    </Authorized>
    <NotAuthorized>
       <LoginComponent />
    </NotAuthorized>
</AuthorizeView>